# List

In [1]:
l=[1,4,5,"hello",(1,2),3.4]

In [2]:
l

[1, 4, 5, 'hello', (1, 2), 3.4]

In [3]:
l[0]

1

In [4]:
type(l[-2])

tuple

In [5]:
type(l)

list

In [6]:
l.append(45)

In [7]:
l.append([5,'bye'])

In [8]:
l

[1, 4, 5, 'hello', (1, 2), 3.4, 45, [5, 'bye']]

In [9]:
l.count(4)

1

In [14]:
l2="57778"

In [15]:
l.extend(l2)

In [17]:
l

[1, 4, 5, 'hello', (1, 2), 3.4, 45, [5, 'bye'], '5', '7', '7', '7', '8']

In [19]:
l.extend(l2)

In [21]:
l

[1,
 4,
 'kol',
 66,
 'hello',
 (1, 2),
 3.4,
 45,
 [5, 'bye'],
 '5',
 '7',
 '7',
 '7',
 '8']

In [18]:
l[2]=66

In [20]:
l.insert(2,'kol')

In [25]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [26]:
l2=['a','b','c']

In [31]:
l2.sort()

In [32]:
l2

['a', 'b', 'c']

In [29]:
l2.reverse()

In [35]:
l2

['a', 'b', 'c']

In [36]:
l1

NameError: name 'l1' is not defined

In [37]:
l

[1, 4, 'kol', 66, 'hello', (1, 2), 3.4, 'hi', [5, 'bye'], 4, 45, 9, 0]

In [38]:
l2.extend(l)

In [39]:
l2

['a',
 'b',
 'c',
 1,
 4,
 'kol',
 66,
 'hello',
 (1, 2),
 3.4,
 'hi',
 [5, 'bye'],
 4,
 45,
 9,
 0]

In [40]:
l

[1, 4, 'kol', 66, 'hello', (1, 2), 3.4, 'hi', [5, 'bye'], 4, 45, 9, 0]

In [41]:
l2

['a',
 'b',
 'c',
 1,
 4,
 'kol',
 66,
 'hello',
 (1, 2),
 3.4,
 'hi',
 [5, 'bye'],
 4,
 45,
 9,
 0]

In [79]:
l.append(6)

In [22]:
l2

'57778'

In [57]:
l2[6]=l2[6].replace('el','o')

In [23]:
l

[1,
 4,
 'kol',
 66,
 'hello',
 (1, 2),
 3.4,
 45,
 [5, 'bye'],
 '5',
 '7',
 '7',
 '7',
 '8']

In [24]:
l.sort(reverse=True)

TypeError: '<' not supported between instances of 'list' and 'str'

In [25]:
t=(1,2,5,3,2,8,0)

In [26]:
type(t)

tuple

In [27]:
t[0]=1

TypeError: 'tuple' object does not support item assignment

In [28]:
t.count(2)

2

In [29]:
t.index(2,3,5)

4

In [93]:
l

[6, 6, 3, 2, 1]

In [94]:
l1

NameError: name 'l1' is not defined

In [95]:
l2

[4, 'hi', 3.4, (1, 2), 'holo', 66, 4, 1, 'b', 'a']

In [96]:
len(l2)

10

In [97]:
str="hello"

In [98]:
len(str)

5

In [99]:
l=['a',1]

In [101]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [102]:
l.clear()

In [103]:
l

[]

In [104]:
l.extend(l2)

In [115]:
l

[4,
 'hi',
 3.4,
 (1, 2),
 'holo',
 66,
 4,
 1,
 'b',
 'a',
 1,
 2,
 5,
 3,
 2,
 8,
 0,
 'h',
 'e',
 'l',
 'l',
 'o']

In [118]:
l.extend(

TypeError: 'int' object is not iterable

In [119]:
a=234

In [111]:
t

(1, 2, 5, 3, 2, 8, 0)

In [112]:
l[-1]

0